@page
@model EventManagement.Pages.Products.contactusModel
@{

    ViewData["Title"] = "Contact Us";
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&amp;family=Raleway:wght@400;700&amp;display=swap" rel="stylesheet" />

    <style>
        body {
            font-family: 'Raleway', sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Playfair Display', serif;
        }

        header {
            position: relative;
            z-index: 20;
        }

        select, input[type="date"] {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 0.75rem center/1.5rem;
        }

            input[type="date"]::-webkit-inner-spin-button,
            input[type="date"]::-webkit-calendar-picker-indicator {
                display: none;
                -webkit-appearance: none;
            }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            flatpickr("#event-date", {
                dateFormat: "d-m-Y",
            });
        });
    </script>
</head>
<body>

    <div class="bg-white p-8 shadow-md w-full max-w-4xl" style="margin:0px auto;">
        <br>
        <br />
        <br />
        <div style="background-color:#b2ad77; color: white; text-align: center; padding: 10px; margin-bottom: 40px;">
            <h2 style="font-size: 1.7rem; font-weight: 600;">Plan Your EVENT</h2>
        </div>
        @if (!string.IsNullOrEmpty(Model.SuccessMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.SuccessMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }


        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.ErrorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }



        <form class="space-y-6" method="post">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div>
                    <label class="block text-sm font-semibold mb-1" asp-for="Products.FullName">Full Name:</label>
                    <input type="text"  class=" border-b-2 border-black focus:outline-none font-awesome" asp-for="Products.FullName" >
                    <br />
                    <span asp-validation-for="Products.FullName" class="text-danger" style="font-size:0.9rem"></span>
                </div>
                <div>
                    <label class="block text-sm font-semibold mb-1">Email Address:</label>
                    <input type="email" class=" border-b-2 border-black focus:outline-none" asp-for="Products.Email">
                    <br />
                    <span asp-validation-for="Products.Email" class="text-danger" style="font-size:0.9rem"></span>

                </div>
                <div>
                    <label class="block text-sm font-semibold mb-1" >Phone Number:</label>
                    <input type="text" id="phone" class=" border-b-2 border-black focus:outline-none" asp-for="Products.Phone">
                    <br /><span asp-validation-for="Products.Phone" class="text-danger" style="font-size:0.9rem"></span>

                </div>

                <div>
                    <label class="block text-sm font-semibold mb-1" for="event-date">Event Date:</label>
                    <input type="date" id="event-date" class=" border-b-2 border-black focus:outline-none" asp-for="Products.EventDate">
                    <br /><span asp-validation-for="Products.EventDate" class="text-danger" style="font-size:0.9rem"></span>

                </div>

                
                <div>
                    <label class="block text-sm font-semibold mb-1" for="event-type">Event Type:</label>
                    <select id="event-type" class="w-full border-b-2 border-black focus:outline-none"  asp-for="Products.EventType">


                        <option value="">Select an event type</option>
                        <option value="wedding">Wedding</option>
                        <option value="birthday">Birthday Party</option>
                    </select>
                    <br /><span asp-validation-for="Products.EventType" class="text-danger" style="font-size:0.9rem"></span>
                </div>
                <script>
                    document.getElementById('event-type').addEventListener('change', function() {
                      var selectedValue = this.value;
                      var weddingOptions = document.getElementById('wedding-options');
                      var weddingPackageOptions = document.getElementById('wedding-package-options');
                      var birthdayOptions = document.getElementById('birthday-options');
                      var weddingFunctionSelect = document.getElementById('wedding-function');
                      var birthdayThemeSelect = document.getElementById('birthday-theme');
                      

                      weddingPackageOptions.classList.add('hidden');
                      weddingOptions.classList.add('hidden');
                      birthdayOptions.classList.add('hidden');
                      

                      if (selectedValue === 'wedding') {
                        weddingOptions.classList.remove('hidden');
                        weddingPackageOptions.classList.remove('hidden');
                        weddingFunctionSelect.disabled = false;

                        
                      } 
                      else if (selectedValue === 'birthday') {
                         birthdayOptions.classList.remove('hidden');
                         birthdayThemeSelect.disabled = false;
                         
                      }
                      
                    });
                </script>
                <div id="wedding-options" class="hidden col-span-1">
                    <label class="block text-sm font-semibold mb-1" for="wedding-function">Wedding Function:</label>
                    <select id="wedding-function" class="w-full border-b-2 border-black focus:outline-none"  asp-for="Products.WeddingFunction">
                        <option value="NILL">Select function</option>
                        <option value="mehndi">Mehndi</option>
                        <option value="barat">Barat</option>
                        <option value="reception">Reception</option>
                        <option value="bridal-shower">Bridal Shower</option>
                        <option value="engagement">Engagement</option>
                        <option value="nikkah">Nikkah</option>
                        <option value="qawali-night">Qawali night</option>
                    </select>
                    

                </div>
                <div id="wedding-package-options" class="hidden col-span-1">
                    <label class="block text-sm font-semibold mb-1" for="wedding-package">Select Package:</label>
                    <select id="wedding-package" class="w-full border-b-2 border-black focus:outline-none" asp-for="Products.package">
                        <option value="NILL">Select package</option>
                        <option value="basic">Basic</option>
                        <option value="premium">Premium</option>
                        <option value="luxury">Luxury</option>
                    </select>

                </div>
                <div id="birthday-options" class="hidden col-span-1">
                    <label class="block text-sm font-semibold mb-1" for="birthday-theme">Birthday Theme:</label>
                    <select id="birthday-theme" class="w-full border-b-2 border-black focus:outline-none"  asp-for="Products.BirthdayTheme">
                        <option value="NILL">Select theme</option>
                        <option value="mickey-mouse">Mickey Mouse</option>
                        <option value="masha-and-the-bear">Masha and the Bear</option>
                        <option value="baby-boss">Baby Boss</option>
                        <option value="customized">Customized Theme</option>
                    </select>
                    
                </div>
                <div>
                    <label class="block text-sm font-semibold mb-1" >Event Location:</label>
                    <select  id="locate" class="w-full border-b-2 border-black focus:outline-none" asp-for="Products.location">
                        <option value="">Select location</option>
                        <option value="our-venue">Our Venue</option>
                        <option value="other">Other</option>
                    </select>
                    <br /><span asp-validation-for="Products.location" class="text-danger" style="font-size:0.9rem"></span>
                </div>
                <script>
                    document.getElementById('locate').addEventListener('change', function() {
                    var selectedValue = this.value;
                    var venueOptions = document.getElementById('venue-options');
                    var venueTypeOptions = document.getElementById('venue-type-options');
                    var specifyLocation = document.getElementById('specify-location');
                    
                    specifyLocation.classList.add('hidden');
                    venueOptions.classList.add('hidden');
                      venueTypeOptions.classList.add('hidden');

                    if (selectedValue === 'our-venue') {
                      venueOptions.classList.remove('hidden');
                      venueTypeOptions.classList.remove('hidden');
                      
                     
                    } else if (selectedValue === 'other') {
                      
                      specifyLocation.classList.remove('hidden');
                    }
                    });

</script>
                <div id="venue-options" class="hidden col-span-1">
                    <label class="block text-sm font-semibold mb-1" for="venue">Select Venue:</label>
                    <select id="venue" class="w-full border-b-2 border-black focus:outline-none" onchange="handleVenueChange(event)" asp-for="Products.venue">
                        <option value="NILL">Select venue</option>
                        <option value="Grace Marquee">Grace Marquee</option>
                        
                        <option value="Deewan-e-Khaas">Deewan-e-Khaas</option>
                        <option value="Pc Hotel">PC Hotel</option>
                        <option value="Golf Club">Golf Club</option>
                        <option value="Cantt Marquee">Cantt Marquee</option>
                    </select>
                    <br /><span asp-validation-for="Products.venue" class="text-danger" style="font-size:0.9rem"></span>
                </div>

                <div id="venue-type-options" class="hidden col-span-1">
                    <label class="block text-sm font-semibold mb-1" for="venue-type">Venue Type:</label>
                    <select id="venue-type" class="w-full border-b-2 border-black focus:outline-none" asp-for="Products.VenueType">
                        <option value="NILL">Select venue type</option>
                        <option value="Indoor">Indoor Hall</option>
                        <option value="Outdoor">Outdoor</option>
                        <option value="Beachside">Beach Side</option>
                    </select>
                    <br /><span asp-validation-for="Products.VenueType" class="text-danger"></span>
                </div>
                <div id="specify-location" class="hidden col-span-1">
                    <label class="block text-sm font-semibold mb-1" for="specify">Please Specify:</label>
                    <input type="text" id="specify" class="w-full border-b-2 border-black focus:outline-none" value="NILL" asp-for="Products.SpecifyLocation">
                    <br /><span asp-validation-for="Products.SpecifyLocation" class="text-danger" style="font-size:0.9rem"></span>
                </div>
                <div>
                    <label class="block text-sm font-semibold mb-1" for="guests">Number of Guests:</label>
                    <input type="number" id="guests" class="border-b-2 border-black focus:outline-none" min="1" asp-for="Products.guests">
                    <br /><span asp-validation-for="Products.guests" class="text-danger" style="font-size:0.9rem"></span>
                </div>
                <div>
                    <label class="block text-sm font-semibold mb-1" for="contact-method">Preferred Contact Method:</label>
                    <select id="contact-method" class="w-full border-b-2 border-black focus:outline-none" asp-for="Products.ContactMethod">
                        <option value="email">Email</option>
                        <option value="phone">Phone</option>
                    </select>
                    <br /><span asp-validation-for="Products.ContactMethod" class="text-danger" style="font-size:0.9rem"></span>
                </div>
            </div>


            
            <div>
                <label class="block text-sm font-semibold mb-1">Services Needed:</label>
                <div class="flex flex-wrap gap-4">
                    <div>
                        <input type="checkbox" id="catering" name="services" value="catering" class="mr-2"
                               asp-for="Products.catering" />
                        <label for="catering">Catering</label>
                    </div>
                    <div>
                        <input type="checkbox" id="decoration" name="services" value="decoration" class="mr-2"
                               asp-for="Products.decoration" />
                        <label for="decoration">Decoration</label>
                    </div>
                    <div>
                        <input type="checkbox" id="photography" name="services" value="photography" class="mr-2"
                               asp-for="Products.photography" />
                        <label for="photography">Photography</label>
                    </div>
                    <div>
                        <input type="checkbox" id="music" name="services" value="music" class="mr-2"
                               asp-for="Products.music" />
                        <label for="music">Music</label>
                    </div>
                    <div>
                        <input type="checkbox" id="venue" name="services" value="venue" class="mr-2"
                               asp-for="Products.venu" />
                        <label for="venue">Venue</label>
                    </div>
                </div>
            </div>
            <div>
                <label class="block text-sm font-semibold mb-1" >Message/Description:</label>
                <textarea   rows="4" class="w-full border-2 border-black focus:outline-none" asp-for="Products.textare"></textarea>
            </div>
            <div>
                <label class="block text-sm font-semibold mb-1" >
                    <input type="checkbox" class="mr-2" asp-for="Products.newsletter">
                    Subscribe to our newsletter.

                </label>
            </div>
            <div>
                <label class="block text-sm font-semibold mb-1" >
                    <input type="checkbox" id="privacy-policy" class="mr-2" asp-for="Products.privacyy" required>
                    I agree to the <a asp-area="" asp-page="/PrivacyPolicy" class="text-blue-500">privacy policy</a>.<br />
                    <span asp-validation-for="Products.privacyy" class="text-danger" style="font-size:0.9rem"></span>
                </label>
            </div>

            <div class="flex justify-end mt-6">
                <button type="submit" class="bg-[#b2ad77] text-white py-2 px-6">Submit</button>
            </div>
        </form>
    </div>
    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>